.password_reset{
    padding-left: 40%;
    padding-top: 20%;
    font-size: 200%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  h2:hover {
    color: #e76f51;
  }
  

input[type="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  input[type="email"]:focus {
    outline:none;
    border-color: #e76f51;
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
    border-width: 3px;
  }  

/* button css*/
button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}