.containear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

.password_reset_complate {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.password_reset_complate h1 {
    font-size: 24px;
    color: #333;
}

.password_reset_complate p {
    font-size: 17px;
    color:hsl(240, 7%, 3%);
    transition: color 0.3s ease;
  }
  
  p:hover {
    color:#e76f51;
  }

.password_reset_complate a {
    color: #007bff;
    text-decoration: none;
}

.password_reset_complate a:hover {
    text-decoration: underline;
}
