{% extends "base.html" %}
{% block title %}
|home
{% endblock title %}
{% block content %}
{% load static %}
    <!--Content section start--->
<div class="content">
    <div class="row"></div>
    <div class="col-"></div>
    <h1>Employee Task <br><span>Management</span> <br>Welcome Employee</h1>
    <p class="par">🌟 "As you embark on this journey with us, remember that great things
    <br>are achieved one task at a time. Your contributions matter, and together, <br>we’ll
    accomplish remarkable feats. Let’s manage tasks efficiently, collaborate<br> effectively,
    and make every day count!” 🚀</p>

        <button class="cn"><a href="{% url 'contact' %}">JOIN US</a></button>
</div>
<!--Content section start--->
<br><br><br><br> <br> <br>
{% endblock content %}