<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>|about</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
  </head>
  <body>
    <form class="password_reset" method="POST" action="">
        {% csrf_token %}
        <h2>Password reset</h2>
        <br>
        {{form}}
        <br>
        <button type="submit" value="Send mail">
            Button
        </button>
       
    </form>
     <!--navbar section start-->
  <div class="navbar">
    <ul>
        <li class="list active">
            <a href="{% url 'index' %}"><span class="icon"><ion-icon name="home"></ion-icon></span> <span class="title"> Home</span></a>
        </li>
        <li class="list">
            <a href="{% url 'add_task' %}"><span class="icon"><ion-icon name="md-person-add"></ion-icon></span> <span class="title"> Add Employee_task</span></a>
        </li>
        <li class="list">
            <a href="{% url 'viewtask' %}"><span class="icon"><ion-icon name="analytics"></ion-icon></span> <span class="title">Show Employee_task</span></a>
        </li>
        <li class="list">
            <a href="{% url 'contact' %}"><span class="icon"><ion-icon name="chatbubbles"></ion-icon></span> <span class="title"> Get Touch</span></a>
        </li>
       
        <li class="list">
            <a href="{% url 'about' %}"><span class="icon"><ion-icon name="md-information-circle"></ion-icon></span> <span class="title"> About_us</span></a>
        </li>
       
        {% if request.user.is_authenticated %}
        <li class="list">
            <a href="{% url 'log_out' %}"><span class="icon"><ion-icon name="log-out"></ion-icon></span> <span class="title"> Signout</span></a>
        </li>
        {% else %}
        <li class="list">
            <a href="{% url 'log_in' %}"><span class="icon"><ion-icon name="md-log-in"></ion-icon></span> <span class="title"> Signin</span></a>
        </li>
        {% endif %}

    </ul>
</div>
<div class="toggle">
    <ion-icon name="md-menu" class="open"></ion-icon>
    <ion-icon name="close" class="close"></ion-icon>
</div>
<!--navbar section End-->

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="{% static 'js/script.js' %}"></script>  
  </body>
  </html>
 
