
<html>
    {% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/viewtask.css' %}">
    <title>|search</title>  
    <style>


form {
background-color: #4654e1;
width: 300px;
height: 44px;
border-radius: 5px;
display:flex;
flex-direction:row;
align-items:center;
}

input {
all: unset;
font: 16px system-ui;
color: #fff;
height: 100%;
width: 100%;
padding: 6px 10px;
}

::placeholder {
color: #fff;
opacity: 0.7; 
}

svg {
color: #fff;
fill: currentColor;
width: 45px;
height: 45px;
padding: 10px;
}

button {
all: unset;
cursor: pointer;
width: 44px;
height: 44px;
}
</style>

</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2 class="text-center">  All Employee Tasks </h2>

                <form role="search" id="form" method="POST" action="{% url 'search_form' %}">
                    {% csrf_token %}
                    <input type="search" name="searched" id="query"  placeholder="Search...(name,email,phone)" aria-label="Search through site content">
                    <button>
                      <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
                    </button>
                  </form>

            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="th">Id</th>
                            <th>Employee Name</th>
                            <th>Project Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Start Date</th>
                            <th>Last Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for i in finds %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.project_name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.s_date}}</td>
                            <td>{{i.l_name}}</td>
                            <td>
                                <a href="" class="btn btn-primary ">Update</a>
                                
                                <a href="{% url 'delete_data' i.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>